@model ML.Materia
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

<h2 class="h2">Materias</h2>

@using (Html.BeginForm("GetAll", "Materia", FormMethod.Post, new { enctype = "multipart/form-data" }))
{<td><a class="btn btn-outline-dark" href="@Url.Action("Form", "Materia")"><i>Agregar materia.</i></a></td>
    <br>
    <br>
    <div class="table-responsive">
        <div class="container">
            <table class="table table-striped table-bordered" id="myTable">
                <thead>
                    <tr>
                        <th>Actualizar</th>
                        <th>IdMateria</th>
                        <th>Nombre</th>
                        <th>Costo</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Materia materia in Model.Materias)
                    {
                        <tr>
                            <td><a class="btn btn-warning" href="@Url.Action("Form", "Materia", new { IdMateria = materia.IdMateria })"><i class="bi bi-vector-pen">Actualizar Materia</i></a></td>
                            <td>@materia.IdMateria</td>
                            <td>@materia.Nombre</td>
                            <td>@materia.Costo</td>
                            <td><a class="btn btn-danger" href="@Url.Action("Delete", "Materia", new { IdMateria = materia.IdMateria })" onclick="return confirm('Seguro que quieres borrar la materia?')"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        let table = new DataTable('#myTable', {
            responsive: true,
            "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "Todos"]],
            searching: false,
            language: {
                url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
            },
        });
    </script>

}
